@page
@model OrderConfirmationModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order placed successfully!</h1>
        Your order number is: @Model.orderId<br /><br />
        <img src="~/images//lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color: maroon">
        <br />
        Your order has placed successfully! <br />
        Please make sure to arrive on time for hot delicious food!
    </div>
</div>