@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    ViewData["SignType"] = "in";
}

<div class="py-4 my-4">
    <div class="row form-group">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-body px-lg-5 pt-4">
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <h3 class="col-12 text-success text-center">
                            <strong>Sign in</strong>
                        </h3>

                        @if (Model.ExternalLogins?.Count > 0)
                        {
                            <partial name="_ExternalLogins" model="Model.ExternalLogins" view-data="ViewData" />
                        }
                    </form>

                    <hr />

                    <form id="account" method="post">
                        @if (Model.ExternalLogins?.Count > 0)
                        {
                            <p class="text-success font-weight-bold" style="text-align:center">OR</p>
                        }
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Sign in</button>
                        </div>
                        <div class="form-group">
                            <hr />
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary text-white btn-block mt-2">
                                <i class="fas fa-user-plus"></i>&nbsp;&nbsp;Register as a new user
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
