@page
@using TasteStore.Utility

@{
    ViewData["Title"] = "User";
}

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole(SD.ManageRole))
    {
        <div class="border backgroundWhite container">
            <input type="hidden" id="" value="@User.IsInRole(SD.ManageRole)" />
            <div class="row">
                <div class="col-6">
                    <h2 class="text-primary">User List</h2>
                </div>
                <div class="col-6 text-right">
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp; Create New</a>
                </div>
            </div>
            <br /><br />
            <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>E-mail</th>
                        <th>Phone Number</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    }
    else
    {
        Response.Redirect("/Identity/Account/AccessDenied");
    }
}
else
{
    Response.Redirect("/Identity/Account/Login");
}

@section Scripts
{
    <script src="~/js/user.js"></script>
}